@media only screen and (max-width:1150px){
    :root{
        font-size: 13px;
    }
}
@media only screen and (max-width:1024px){
    :root{
        font-size: 13px;
    }
    .study-group-content h2 {
        font-size: 25px;
    }
    .study-group-image img {
        max-width: 40rem;
    }
    .voice-connected-image img{
        max-width: 40rem;
    }
    .voice-conneted {
        gap: 2rem;
    }
    .voice-connected-content h2 {
        font-size: 2.1rem;
    }
    .coach-group-image img {
        max-width: 36rem;
    }
    .coach-group-content h2 {
        font-size: 2.3rem;
    }
    .chill-img img {
        width: 64rem;
    }
    .journey h2 {
        left: 4.5rem;
        font-size: 2rem;
    }
}

@media only screen and (max-width:940px){
    :root{
        font-size: 11px;
    }
    .study-group{
        flex-direction: column;
    }
    .study-group-content,
    .coach-group-content{
        max-width: none;
    }
    .study-group-image img,
    .voice-connected-image img,
    .coach-group-image img {
        max-width: 62rem;
    }
    .study {
        padding: 1rem 0;
    }
    .study-group-content h2,
    .voice-connected-content h2,
    .coach-group-content h2 {
        font-size: 2.5rem;
    }
    .study-group-content p,
    .voice-connected-content p,
    .coach-group-content p,
    .chill-content p{
        font-size: 1.2rem;
    }    
    .voice-conneted {
        flex-direction: column;
    }
    .coach-group {
        flex-direction: column-reverse;
        gap: 5rem;
    }
    .journey h2 {
        left: 4.5rem;
        font-size: 2.5rem;
    }
    .product ul li a, .company ul li a, .resources ul li a, .policies ul li a {
        font-size: 1rem;
        line-height: 2.2rem;
    }
    .study-group{
        padding: 3rem 0;
    }
    .product ul li a, .company ul li a, .resources ul li a, .policies ul li a {
        font-size: 1.2rem;
        line-height: 2.5rem;
    }
}

@media only screen and (max-width:820px){
    .bars{
        display: block;
        font-size: 1.5rem;
    }
    header nav ul,
    nav .open-discord{
        display: none;
    }
    .footer-content {
        grid-template-columns: 15rem repeat(3, 1fr);
    }    
    .product ul li a{
        font-size: 1.2rem;
        line-height: 2.5rem;
    }
}

@media only screen and (max-width:680px){
    .container{
        padding-inline: 4.5rem;
    }
    .study-group-image img,
    .voice-connected-image img,
    .coach-group-image img,
    .chill-img img {
        max-width: 50rem;
    }
    .product ul li a, .company ul li a, .resources ul li a, .policies ul li a {
        font-size: 1.1rem;
        line-height: 2.2rem;
    }
    .container{
        padding-inline: 3.5rem;
    }
    .hero-banner h1 {
        font-size: 3.5rem;
    }
    .download {
        flex-direction: column-reverse;
    }
    .footer-content {
        grid-template-columns: 15rem repeat(2, 1fr);
    }
    img.right-img{
        top: 24rem;
        width: 32rem;
    }
    img.left-img{
        width: 35rem;
        top: 25rem;
    }
}


@media only screen and (max-width:470px){
    .container {
        padding-inline: 2.5rem;
    }
    img.left-img,
    img.right-img{
        display: none;
    }
    .download {
        gap: 2rem;
        flex-direction: column-reverse;
    }
    .study-group-image img,
    .voice-connected-image img,
    .coach-group-image img, 
    .chill-img img {
        max-width: 30rem;
    }
    .study-group-content h2, 
    .voice-connected-content h2, 
    .coach-group-content h2 {
        font-size: 2rem;
    }
    .journey img {
        width: 30rem;
    }
    .journey h2 {
        left: 2.5rem;
        font-size: 1.3rem;
    }
    .footer-content {
        grid-template-columns: 15rem repeat(1, 1fr);
    }
    .product ul li a{
        font-size: 1.2rem;
    }
}

